@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

.app {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 1.5rem;
}

.feedbackCard {
    display: grid;
    grid-template-columns: auto 1fr 2.5rem;
    column-gap: 1.5rem;
}
